* {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbfbfb;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  max-width: 1600px;
  height: 70px;

  margin: 0 auto;

  padding: 5px 16px;

  position: relative;

  figure {
    z-index: 3;

    img {
      width: auto;
      height: auto;
      max-width: 60px;
      width: 40px;

      @media (min-width: 600px) {
        width: 80px;
      }

      object-fit: scale-down;
    }
  }

  button {
    width: 40px;
    max-width: 40px;
    height: 70px;

    z-index: 3;

    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:active {
      outline: none;
      border: none;
    }

    @media (min-width: 600px) {
      display: none;
    }
  }

  #nav-icon {
    width: 30px;
    height: 45px;

    position: relative;

    transform: rotate(0deg);
    transition: 0.5s ease-in-out;

    cursor: pointer;
  }

  #nav-icon span {
    display: block;

    position: absolute;
    left: 0;

    height: 4px;
    width: 100%;

    background: #484848;

    border-radius: 9px;

    opacity: 1;

    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  #nav-icon span:nth-child(1) {
    top: 10px;
  }

  #nav-icon span:nth-child(2) {
    top: 20px;
  }

  #nav-icon span:nth-child(3) {
    top: 30px;
  }

  #nav-icon.nav-icon-open span:nth-child(1) {
    top: 20px;
    transform: rotate(135deg);

    background-color: #fbfbfb;
  }

  #nav-icon.nav-icon-open span:nth-child(2) {
    opacity: 0;
    left: -30px;

    background-color: #fbfbfb;
  }

  #nav-icon.nav-icon-open span:nth-child(3) {
    top: 20px;
    transform: rotate(-135deg);
    background-color: #fbfbfb;
  }
}

#header-menu-mobile {
  position: absolute;
  top: 0;

  z-index: 2;

  background-color: #8c52ff;

  border-radius: 0 0 10px 10px;

  width: 100%;
  height: 0px;

  overflow: hidden;

  transition: height 0.25s ease-in-out;

  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  text-align: center;

  ul {
    padding-top: 60px;
    list-style: none;

    li {
      margin-top: 10px;

      &:first-child {
        margin: 0;
      }
    }
  }
}

#header-menu-mobile.header-menu-open {
  height: 220px;
}

#header-menu-desktop {
  position: absolute;
  top: 22px;
  right: 16px;

  ul {
    list-style: none;
    display: flex;

    li {
      margin-left: 15px;
      font-size: 18px;

      a {
        cursor: pointer;
        text-decoration: none;

        position: relative;
        transition: color 0.3s ease-in-out;

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          width: 100%;
          height: 3px;
          background-color: #8c52ff;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
          border-radius: 5px;
        }

        &:hover::before {
          transform: scaleX(1);
        }
      }
    }
  }

  @media (max-width: 600px) {
    display: none;
  }
}

main {
  width: 100%;
  max-width: 1600px;
  height: auto;

  margin: 0 auto;
}

#principal-info-container {
  margin: 30px 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  @media (min-width: 600px) {
    grid-template-columns: 1fr 2fr;
  }
}

.pets-image {
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  display: none;

  margin-left: 16px;

  img {
    max-width: 350px;
    max-height: 100%;
  }

  @media (min-width: 600px) {
    font-size: 25px;

    display: flex;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.sub-info-container {
  margin: 0 16px 0 16px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 18px;
    font-weight: 500;

    text-align: center;

    display: block;

    @media (min-width: 450px) {
      font-size: 22px;
    }

    @media (min-width: 600px) {
      font-size: 25px;
    }

    @media (min-width: 1200px) {
      font-size: 35px;
    }

    strong {
      color: #8c52ff;
    }
  }

  .checkbox-wrapper {
    margin-top: 30px;

    ul {
      display: flex;
      grid-template-columns: 1fr 1fr;
      gap: 20px 40px;

      font-size: 16px;

      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      li {
        list-style: none;
        background-image: url("../assets/icons/check.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 15px;

        padding-left: 20px;
        margin-left: -15px;
      }

      @media (min-width: 600px) {
        font-size: 22px;
      }

      @media (min-width: 1200px) {
        margin-top: 40px;
        font-size: 28px;
        li {
          margin: 10px;
        }
      }
    }
  }
}

#choose-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  > p {
    margin: 30px 30px 0 30px;

    max-width: 1000px;

    font-size: 16px;
    font-weight: 400;

    text-align: center;

    @media (min-width: 600px) {
      font-size: 20px;
    }

    @media (min-width: 800px) {
      font-size: 24px;
    }

    strong {
      font-weight: 400;
      color: #8c52ff;
    }
  }
}

.title {
  margin-top: 20px;

  display: flex;
  align-items: center;

  h1 {
    font-size: 16px;
    font-weight: 500;

    margin: 0 10px;

    @media (min-width: 600px) {
      font-size: 24px;
    }

    @media (min-width: 800px) {
      font-size: 27px;
    }
  }

  div {
    width: 30px;
    height: 3px;

    border-radius: 5px;

    background-color: #8c52ff;

    @media (min-width: 600px) {
      width: 40px;
    }

    @media (min-width: 800px) {
      width: 50px;
    }
  }
}

.carousel-container {
  margin-top: 30px;

  width: 100%;

  position: relative;
}

.inner-carousel {
  width: 100%;

  overflow: hidden;
}

.track {
  display: flex;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.card-container {
  width: 100%;
  height: 90px;

  @media (min-width: 600px) {
    height: 120px;
  }

  @media (min-width: 1200px) {
    height: 150px;
  }

  flex-shrink: 0;

  padding: 0 16px;
  .card-infos-container {
    width: 100%;
    height: 100%;

    padding: 16px;

    display: flex;
  }
}

.card {
  width: 100%;
  max-width: 1000px;
  height: 100%;

  margin: 0 auto;

  border-radius: 10px;

  background-color: #ffffff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);

  .card-image {
    width: 50px;
    height: 100%;

    @media (min-width: 600px) {
      width: 80px;
    }

    @media (min-width: 800px) {
      width: 90px;
    }

    @media (min-width: 1200px) {
      width: 100px;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    figure {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 50px;
        height: 50px;

        @media (min-width: 600px) {
          width: 80px;
          height: 80px;
        }

        @media (min-width: 800px) {
          width: 90px;
          height: 90px;
        }
      }
    }
  }

  .card-infos {
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 600px) {
      span {
        font-size: 16px !important;
        line-height: 16px !important;
      }

      strong {
        font-size: 16px !important;
        line-height: 16px !important;
      }

      p {
        font-size: 14px !important;
        line-height: 14px !important;
      }
    }

    @media (min-width: 800px) {
      span {
        font-size: 19px !important;
        line-height: 19px !important;
      }

      strong {
        font-size: 19px !important;
        line-height: 19px !important;
      }

      p {
        font-size: 18px !important;
        line-height: 18px !important;
      }
    }

    @media (min-width: 1200px) {
      span {
        font-size: 22px !important;
        line-height: 2px !important;
      }

      strong {
        font-size: 22px !important;
        line-height: 22px !important;
      }

      p {
        font-size: 20px !important;
        line-height: 20px !important;
      }
    }

    span {
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;

      strong {
        font-weight: 700;
        font-size: 11px;
        line-height: 11px;

        color: #ebc351;
      }
    }

    p {
      font-weight: 400;
      font-size: 11px;
      line-height: 11px;

      margin-top: 5px;
    }
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.nav button {
  width: 10px;
  height: 10px;

  border-radius: 50%;

  background-color: #d9d9d9;

  outline: none;

  cursor: pointer;

  margin: 15px 10px;
}

.nav .show {
  background-color: #818181;
}
