* {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1600px;
  height: 70px;
  margin: 0 auto;
  padding: 5px 16px;
  position: relative;
}
header figure {
  z-index: 3;
}
header figure img {
  width: auto;
  height: auto;
  max-width: 60px;
  width: 40px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
@media (min-width: 600px) {
  header figure img {
    width: 80px;
  }
}
header button {
  width: 40px;
  max-width: 40px;
  height: 70px;
  z-index: 3;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header button:active {
  outline: none;
  border: none;
}
@media (min-width: 600px) {
  header button {
    display: none;
  }
}
header #nav-icon {
  width: 30px;
  height: 45px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
header #nav-icon span {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background: #484848;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header #nav-icon span:nth-child(1) {
  top: 10px;
}
header #nav-icon span:nth-child(2) {
  top: 20px;
}
header #nav-icon span:nth-child(3) {
  top: 30px;
}
header #nav-icon.nav-icon-open span:nth-child(1) {
  top: 20px;
  transform: rotate(135deg);
  background-color: #fbfbfb;
}
header #nav-icon.nav-icon-open span:nth-child(2) {
  opacity: 0;
  left: -30px;
  background-color: #fbfbfb;
}
header #nav-icon.nav-icon-open span:nth-child(3) {
  top: 20px;
  transform: rotate(-135deg);
  background-color: #fbfbfb;
}

#header-menu-mobile {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #8c52ff;
  border-radius: 0 0 10px 10px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: height 0.25s ease-in-out;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
#header-menu-mobile ul {
  padding-top: 60px;
  list-style: none;
}
#header-menu-mobile ul li {
  margin-top: 10px;
}
#header-menu-mobile ul li:first-child {
  margin: 0;
}

#header-menu-mobile.header-menu-open {
  height: 220px;
}

#header-menu-desktop {
  position: absolute;
  top: 22px;
  right: 16px;
}
#header-menu-desktop ul {
  list-style: none;
  display: flex;
}
#header-menu-desktop ul li {
  margin-left: 15px;
  font-size: 18px;
}
#header-menu-desktop ul li a {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
}
#header-menu-desktop ul li a::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  background-color: #8c52ff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
}
#header-menu-desktop ul li a:hover::before {
  transform: scaleX(1);
}
@media (max-width: 600px) {
  #header-menu-desktop {
    display: none;
  }
}

main {
  width: 100%;
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
}

#principal-info-container {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
@media (min-width: 600px) {
  #principal-info-container {
    grid-template-columns: 1fr 2fr;
  }
}

.pets-image {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: none;
  margin-left: 16px;
}
.pets-image img {
  max-width: 350px;
  max-height: 100%;
}
@media (min-width: 600px) {
  .pets-image {
    font-size: 25px;
    display: flex;
  }
  .pets-image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.sub-info-container {
  margin: 0 16px 0 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sub-info-container h1 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  display: block;
}
@media (min-width: 600px) {
  .sub-info-container h1 {
    font-size: 25px;
  }
}
@media (min-width: 120px) {
  .sub-info-container h1 {
    font-size: 28px;
  }
}
.sub-info-container h1 strong {
  color: #8c52ff;
}
.sub-info-container .checkbox-wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 600px) {
  .sub-info-container .checkbox-wrapper {
    gap: 20px;
  }
}
.sub-info-container .checkbox {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
@media (max-width: 600px) {
  .sub-info-container .checkbox:nth-child(even) {
    justify-content: flex-end;
  }
  .sub-info-container .checkbox:nth-child(2) {
    padding-right: 30px;
  }
}
.sub-info-container .checkbox img {
  width: 15px;
  height: 15px;
}
.sub-info-container .checkbox p {
  margin-left: 5px;
  font-size: 13px;
  font-weight: 500;
}
@media (min-width: 600px) {
  .sub-info-container .checkbox p {
    font-size: 15px;
  }
}
@media (min-width: 800px) {
  .sub-info-container .checkbox p {
    font-size: 19px;
  }
}
@media (min-width: 1200px) {
  .sub-info-container .checkbox p {
    font-size: 22px;
  }
}
@media (min-width: 600px) {
  .sub-info-container .checkbox {
    margin-top: 20px;
  }
}

#choose-us-container {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  margin-top: 20px;
}
@media (min-width: 600px) {
  .title {
    font-size: 24px;
  }
}
.title::after, .title::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 2px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #8c52ff;
}
.title::before {
  left: -50%;
}/*# sourceMappingURL=styles.css.map */