@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #25d366;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

* {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  a {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }

  a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbfbfb;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1600px;
  height: 70px;

  margin: 0 auto;

  padding: 5px 16px;

  position: relative;

  figure {
    z-index: 3;

    img {
      height: auto;
      max-width: 60px;
      width: 60px;

      @media (min-width: 600px) {
        width: 80px;
      }

      object-fit: scale-down;
    }
  }

  button {
    width: 40px;
    max-width: 40px;
    height: 70px;

    z-index: 3;

    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:active {
      outline: none;
      border: none;
    }

    @media (min-width: 600px) {
      display: none;
    }
  }

  #nav-icon {
    width: 30px;
    height: 45px;

    position: relative;

    transform: rotate(0deg);
    transition: 0.5s ease-in-out;

    cursor: pointer;
  }

  #nav-icon span {
    display: block;

    position: absolute;
    left: 0;

    height: 4px;
    width: 100%;

    background: #484848;

    border-radius: 9px;

    opacity: 1;

    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  #nav-icon span:nth-child(1) {
    top: 10px;
  }

  #nav-icon span:nth-child(2) {
    top: 20px;
  }

  #nav-icon span:nth-child(3) {
    top: 30px;
  }

  #nav-icon.nav-icon-open span:nth-child(1) {
    top: 20px;
    transform: rotate(135deg);

    background-color: #fbfbfb;
  }

  #nav-icon.nav-icon-open span:nth-child(2) {
    opacity: 0;
    left: -30px;

    background-color: #fbfbfb;
  }

  #nav-icon.nav-icon-open span:nth-child(3) {
    top: 20px;
    transform: rotate(-135deg);
    background-color: #fbfbfb;
  }
}

#header-menu-mobile {
  position: absolute;
  top: 0;

  z-index: 2;

  background-color: #8c52ff;

  border-radius: 0 0 10px 10px;

  width: 100%;
  height: 0px;

  overflow: hidden;

  transition: height 0.25s ease-in-out;

  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  text-align: center;

  ul {
    padding-top: 60px;
    list-style: none;

    li {
      margin-top: 10px;

      &:first-child {
        margin: 0;
      }
    }
  }
}

#header-menu-mobile.header-menu-open {
  height: 220px;
}

#header-menu-desktop {
  position: absolute;
  top: 22px;
  right: 16px;

  ul {
    list-style: none;
    display: flex;

    li {
      margin-left: 15px;
      font-size: 18px;

      a {
        cursor: pointer;
        text-decoration: none;

        position: relative;
        transition: color 0.3s ease-in-out;

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          width: 100%;
          height: 3px;
          background-color: #8c52ff;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
          border-radius: 5px;
        }

        &:hover::before {
          transform: scaleX(1);
        }
      }
    }
  }

  @media (max-width: 600px) {
    display: none;
  }
}

main {
  width: 100%;
  max-width: 1600px;
  height: auto;

  margin: 0 auto;
}

#principal-info-container {
  margin: 30px 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  @media (min-width: 600px) {
    grid-template-columns: 1fr 2fr;
  }
}

.pets-image {
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  display: none;

  margin-left: 16px;

  img {
    max-width: 350px;
    max-height: 100%;
  }

  @media (min-width: 600px) {
    font-size: 25px;

    display: flex;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.sub-info-container {
  margin: 0 16px 0 16px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 18px;
    font-weight: 500;

    text-align: center;

    display: block;

    @media (min-width: 450px) {
      font-size: 22px;
    }

    @media (min-width: 600px) {
      font-size: 25px;
    }

    @media (min-width: 1200px) {
      font-size: 35px;
    }

    strong {
      color: #8c52ff;
    }
  }

  .checkbox-wrapper {
    margin-top: 30px;

    ul {
      display: flex;
      grid-template-columns: 1fr 1fr;
      gap: 20px 40px;

      font-size: 16px;

      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      li {
        list-style: none;
        background-image: url("../assets/icons/check.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 15px;

        @media (min-width: 800px) {
          background-size: 30px;
          padding-left: 35px;
        }

        padding-left: 20px;
        margin-left: -15px;
      }

      @media (min-width: 600px) {
        font-size: 22px;
      }

      @media (min-width: 1200px) {
        margin-top: 40px;
        font-size: 28px;

        li {
          margin: 10px;
        }
      }
    }
  }
}

#choose-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  >p {
    margin: 30px 30px 0 30px;

    max-width: 1000px;

    font-size: 16px;
    font-weight: 400;

    text-align: center;

    @media (min-width: 600px) {
      font-size: 20px;
    }

    @media (min-width: 800px) {
      font-size: 24px;
    }

    strong {
      font-weight: 400;
      color: #8c52ff;
    }
  }
}

.title {
  margin-top: 20px;

  display: flex;
  align-items: center;

  h1 {
    font-size: 16px;
    font-weight: 500;

    margin: 0 10px;

    @media (min-width: 600px) {
      font-size: 24px;
    }

    @media (min-width: 800px) {
      font-size: 27px;
    }
  }

  div {
    width: 30px;
    height: 3px;

    border-radius: 5px;

    background-color: #8c52ff;

    @media (min-width: 600px) {
      width: 40px;
    }

    @media (min-width: 800px) {
      width: 50px;
    }
  }
}

.wrapper,
.about-us-wrapper {
  max-width: 1100px;
  width: 90%;
  height: 100%;

  padding-top: 30px;

  position: relative;
}

.wrapper .carousel,
.about-us-wrapper .about-us-carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;

  margin: 0 -10px -15px 0;
  padding: 0 10px 15px 0;

  overflow-x: auto;

  border-radius: 8px;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar,
.about-us-carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition,
.about-us-carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging,
.about-us-carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card,
.about-us-carousel.dragging .about-us-card {
  cursor: grab;
  user-select: none;
}

.card {
  background: #ffffff !important;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  scroll-snap-align: start;

  height: auto;

  list-style: none;

  background: #fff;

  border-radius: 8px;

  cursor: pointer;

  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card .img {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  img {
    width: 75px;
    height: 75px;

    border-radius: 50%;

    object-fit: cover;

    border: 2px solid #8b53ff;
  }
}

.cards-info {
  h2 {
    font-weight: 500;
    font-size: 16px;

    margin: 5px 0;
  }

  span {
    color: #6a6d78;
    font-size: 12px;
    line-height: 10px;
  }

  @media (min-width: 600px) {
    h2 {
      font-size: 20px;
    }

    span {
      font-size: 17px;
      line-height: 19px;
    }
  }
}

.wrapper i,
.about-us-wrapper i {
  top: 50%;

  height: 35px;
  width: 35px;

  cursor: pointer;

  position: absolute;

  background: #fff;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

  transform: translateY(-50%);
  transition: transform 0.1s linear;

  img {
    width: 20px;
    height: 20px;
  }
}

.wrapper i:active,
.about-us-wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child,
.about-us-wrapper i:first-child {
  left: -15px;
}

.wrapper i:last-child,
.about-us-wrapper i:last-child {
  right: -15px;
}

@media screen and (max-width: 900px) {

  .wrapper .carousel,
  .about-us-wrapper .about-us-carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {

  .wrapper .carousel,
  .about-us-wrapper .about-us-carousel {
    grid-auto-columns: 100%;
  }
}

#about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  >p {
    margin: 30px 30px 0 30px;

    max-width: 1000px;

    font-size: 16px;
    font-weight: 400;

    text-align: center;

    @media (min-width: 600px) {
      font-size: 20px;
    }

    @media (min-width: 800px) {
      font-size: 24px;
    }

    strong {
      font-weight: 400;
      color: #8c52ff;
    }
  }
}

.about-us-card {
  width: 100%;
  height: 100%;

  margin: 0 auto;

  padding-bottom: 16px;

  border-radius: 10px;

  background-color: #ffffff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;

    border-radius: 10px 10px 0 0;
  }

  h2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 13px;
    text-align: center;
    color: #8c52ff;

    margin-top: 10px;
  }

  .paw-icon {
    margin: 15px 0;

    img {
      width: 25px;
      height: 25px;
    }
  }

  p {
    padding: 0 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

    color: #000000;
  }

  @media (min-width: 600px) {
    h2 {
      font-size: 20px;
    }

    .paw-icon {
      img {
        width: 35px;
        height: 35px;
      }
    }

    p {
      font-size: 17px;
      line-height: 19px;
    }
  }
}

#find-us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 30px;

  >p {
    margin: 30px 30px 0 30px;

    max-width: 1000px;

    font-size: 16px;
    font-weight: 400;

    text-align: center;

    @media (min-width: 600px) {
      font-size: 20px;
    }

    @media (min-width: 800px) {
      font-size: 24px;
    }

    strong {
      font-weight: 400;
      color: #8c52ff;
    }
  }

  .map {
    margin: 1rem 30px 0 30px;

    width: 90%;
    height: 300px;
    max-width: 1000px;

    iframe {
      border-radius: 10px;
    }
  }
}

#stay-in-touch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 30px;

  >p {
    margin: 30px 30px 0 30px;

    max-width: 1000px;

    font-size: 16px;
    font-weight: 400;

    text-align: center;

    @media (min-width: 600px) {
      font-size: 20px;
    }

    @media (min-width: 800px) {
      font-size: 24px;
    }

    strong {
      font-weight: 400;
      color: #8c52ff;
    }
  }

  .contacts {
    margin-top: 20px;

    width: 65%;

    ul {
      list-style: none;

      display: flex;
      justify-content: space-around;
      gap: 25px;
    }

    img {
      cursor: pointer;

      width: 40px;
      height: 40px;

      @media (min-width: 600px) {
        width: 50px;
        height: 50px;
      }

      @media (min-width: 800px) {
        width: 60px;
        height: 60px;
      }
    }
  }
}

footer {
  width: 100%;
  height: 50px;

  background-color: #8b53ff;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;

  p {
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;

    color: #ffffff;

    @media (min-width: 600px) {
      font-size: 18px;
    }

    @media (min-width: 800px) {
      font-size: 22px;
    }
  }
}

#fixed-wpp {
  position: fixed;

  bottom: 20px;
  right: 20px;

  z-index: 999;

  img {
    transform: scale(1);
    animation: pulse 2s infinite;

    border-radius: 100%;

    cursor: pointer;

    width: 65px;
    height: 65px;

    @media (min-width: 600px) {
      width: 80px;
      height: 80px;
    }

    @media (min-width: 800px) {
      width: 90px;
      height: 90px;
    }
  }
}


#galery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  >p {
    margin: 30px 30px 0 30px;

    max-width: 1000px;

    font-size: 16px;
    font-weight: 400;

    text-align: center;

    @media (min-width: 600px) {
      font-size: 20px;
    }

    @media (min-width: 800px) {
      font-size: 24px;
    }

    strong {
      font-weight: 400;
      color: #8c52ff;
    }
  }

  .galery-header {
    width: 100%;

    margin-top: 30px;
    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      margin-top: 0;
    }

    .arrow-button {
      cursor: pointer;

      display: flex;
      align-self: center;
      justify-content: center;

      background-color: transparent;

      input {
        display: none;

        &:checked+label>img {

          transform: rotate(180deg);
        }
      }

      img {
        transition: 0.25s ease-in-out;

        width: 20px;
        height: 20px;
      }
    }
  }

  .galery-container {
    margin-top: 16px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    max-height: 130px;
    overflow: hidden;

    transition: max-height 0.25s ease-in-out;

    .galery-card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      border-radius: 50%;

      img {
        width: 90px;
        height: 90px;

        border-radius: 50%;

        object-fit: cover;

        border: 2px solid #8b53ff;
      }

      h3 {
        font-weight: 500;
        font-size: 13px;

        margin: 5px 0;

      }
    }
  }
}

.galery-container-open {
  max-height: 500px !important;
}