@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #25d366;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
* {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
* a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbfbfb;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  height: 70px;
  margin: 0 auto;
  padding: 5px 16px;
  position: relative;
}
header figure {
  z-index: 3;
}
header figure img {
  height: auto;
  max-width: 60px;
  width: 60px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
@media (min-width: 600px) {
  header figure img {
    width: 80px;
  }
}
header button {
  width: 40px;
  max-width: 40px;
  height: 70px;
  z-index: 3;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header button:active {
  outline: none;
  border: none;
}
@media (min-width: 600px) {
  header button {
    display: none;
  }
}
header #nav-icon {
  width: 30px;
  height: 45px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
header #nav-icon span {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background: #484848;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header #nav-icon span:nth-child(1) {
  top: 10px;
}
header #nav-icon span:nth-child(2) {
  top: 20px;
}
header #nav-icon span:nth-child(3) {
  top: 30px;
}
header #nav-icon.nav-icon-open span:nth-child(1) {
  top: 20px;
  transform: rotate(135deg);
  background-color: #fbfbfb;
}
header #nav-icon.nav-icon-open span:nth-child(2) {
  opacity: 0;
  left: -30px;
  background-color: #fbfbfb;
}
header #nav-icon.nav-icon-open span:nth-child(3) {
  top: 20px;
  transform: rotate(-135deg);
  background-color: #fbfbfb;
}

#header-menu-mobile {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #8c52ff;
  border-radius: 0 0 10px 10px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: height 0.25s ease-in-out;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
#header-menu-mobile ul {
  padding-top: 60px;
  list-style: none;
}
#header-menu-mobile ul li {
  margin-top: 10px;
}
#header-menu-mobile ul li:first-child {
  margin: 0;
}

#header-menu-mobile.header-menu-open {
  height: 220px;
}

#header-menu-desktop {
  position: absolute;
  top: 22px;
  right: 16px;
}
#header-menu-desktop ul {
  list-style: none;
  display: flex;
}
#header-menu-desktop ul li {
  margin-left: 15px;
  font-size: 18px;
}
#header-menu-desktop ul li a {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
}
#header-menu-desktop ul li a::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  background-color: #8c52ff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
}
#header-menu-desktop ul li a:hover::before {
  transform: scaleX(1);
}
@media (max-width: 600px) {
  #header-menu-desktop {
    display: none;
  }
}

main {
  width: 100%;
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
}

#principal-info-container {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
@media (min-width: 600px) {
  #principal-info-container {
    grid-template-columns: 1fr 2fr;
  }
}

.pets-image {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: none;
  margin-left: 16px;
}
.pets-image img {
  max-width: 350px;
  max-height: 100%;
}
@media (min-width: 600px) {
  .pets-image {
    font-size: 25px;
    display: flex;
  }
  .pets-image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.sub-info-container {
  margin: 0 16px 0 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sub-info-container h1 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  display: block;
}
@media (min-width: 450px) {
  .sub-info-container h1 {
    font-size: 22px;
  }
}
@media (min-width: 600px) {
  .sub-info-container h1 {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .sub-info-container h1 {
    font-size: 35px;
  }
}
.sub-info-container h1 strong {
  color: #8c52ff;
}
.sub-info-container .checkbox-wrapper {
  margin-top: 30px;
}
.sub-info-container .checkbox-wrapper ul {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
  font-size: 16px;
}
.sub-info-container .checkbox-wrapper ul div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.sub-info-container .checkbox-wrapper ul li {
  list-style: none;
  background-image: url("../assets/icons/check.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 15px;
  padding-left: 20px;
  margin-left: -15px;
}
@media (min-width: 800px) {
  .sub-info-container .checkbox-wrapper ul li {
    background-size: 30px;
    padding-left: 35px;
  }
}
@media (min-width: 600px) {
  .sub-info-container .checkbox-wrapper ul {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .sub-info-container .checkbox-wrapper ul {
    margin-top: 40px;
    font-size: 28px;
  }
  .sub-info-container .checkbox-wrapper ul li {
    margin: 10px;
  }
}

#choose-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#choose-us-container > p {
  margin: 30px 30px 0 30px;
  max-width: 1000px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 600px) {
  #choose-us-container > p {
    font-size: 20px;
  }
}
@media (min-width: 800px) {
  #choose-us-container > p {
    font-size: 24px;
  }
}
#choose-us-container > p strong {
  font-weight: 400;
  color: #8c52ff;
}

.title {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.title h1 {
  font-size: 16px;
  font-weight: 500;
  margin: 0 10px;
}
@media (min-width: 600px) {
  .title h1 {
    font-size: 24px;
  }
}
@media (min-width: 800px) {
  .title h1 {
    font-size: 27px;
  }
}
.title div {
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: #8c52ff;
}
@media (min-width: 600px) {
  .title div {
    width: 40px;
  }
}
@media (min-width: 800px) {
  .title div {
    width: 50px;
  }
}

.wrapper,
.about-us-wrapper {
  max-width: 1100px;
  width: 90%;
  height: 100%;
  padding-top: 30px;
  position: relative;
}

.wrapper .carousel,
.about-us-wrapper .about-us-carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  gap: 16px;
  margin: 0 -10px -15px 0;
  padding: 0 10px 15px 0;
  overflow-x: auto;
  border-radius: 8px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar,
.about-us-carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition,
.about-us-carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging,
.about-us-carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card,
.about-us-carousel.dragging .about-us-card {
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.card {
  background: #ffffff !important;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  scroll-snap-align: start;
  height: auto;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card .img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.card .img img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #8b53ff;
}

.cards-info h2 {
  font-weight: 500;
  font-size: 16px;
  margin: 5px 0;
}
.cards-info span {
  color: #6a6d78;
  font-size: 12px;
  line-height: 10px;
}
@media (min-width: 600px) {
  .cards-info h2 {
    font-size: 20px;
  }
  .cards-info span {
    font-size: 17px;
    line-height: 19px;
  }
}

.wrapper i,
.about-us-wrapper i {
  top: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i img,
.about-us-wrapper i img {
  width: 20px;
  height: 20px;
}

.wrapper i:active,
.about-us-wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child,
.about-us-wrapper i:first-child {
  left: -15px;
}

.wrapper i:last-child,
.about-us-wrapper i:last-child {
  right: -15px;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel,
  .about-us-wrapper .about-us-carousel {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel,
  .about-us-wrapper .about-us-carousel {
    grid-auto-columns: 100%;
  }
}
#about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#about-us > p {
  margin: 30px 30px 0 30px;
  max-width: 1000px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 600px) {
  #about-us > p {
    font-size: 20px;
  }
}
@media (min-width: 800px) {
  #about-us > p {
    font-size: 24px;
  }
}
#about-us > p strong {
  font-weight: 400;
  color: #8c52ff;
}

.about-us-card {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 16px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.about-us-card h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: #8c52ff;
  margin-top: 10px;
}
.about-us-card .paw-icon {
  margin: 15px 0;
}
.about-us-card .paw-icon img {
  width: 20px;
  height: 20px;
}
.about-us-card p {
  padding: 0 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}
@media (min-width: 600px) {
  .about-us-card h2 {
    font-size: 20px;
  }
  .about-us-card .paw-icon img {
    width: 35px;
    height: 35px;
  }
  .about-us-card p {
    font-size: 17px;
    line-height: 19px;
  }
}

#find-us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
#find-us > p {
  margin: 30px 30px 0 30px;
  max-width: 1000px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 600px) {
  #find-us > p {
    font-size: 20px;
  }
}
@media (min-width: 800px) {
  #find-us > p {
    font-size: 24px;
  }
}
#find-us > p strong {
  font-weight: 400;
  color: #8c52ff;
}
#find-us .map {
  margin: 1rem 30px 0 30px;
  width: 90%;
  height: 300px;
  max-width: 1000px;
}
#find-us .map iframe {
  border-radius: 10px;
}

#stay-in-touch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
#stay-in-touch > p {
  margin: 30px 30px 0 30px;
  max-width: 1000px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 600px) {
  #stay-in-touch > p {
    font-size: 20px;
  }
}
@media (min-width: 800px) {
  #stay-in-touch > p {
    font-size: 24px;
  }
}
#stay-in-touch > p strong {
  font-weight: 400;
  color: #8c52ff;
}
#stay-in-touch .contacts {
  margin-top: 20px;
  width: 65%;
}
#stay-in-touch .contacts ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 25px;
}
#stay-in-touch .contacts img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
@media (min-width: 600px) {
  #stay-in-touch .contacts img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 800px) {
  #stay-in-touch .contacts img {
    width: 60px;
    height: 60px;
  }
}

footer {
  width: 100%;
  height: 50px;
  background-color: #8b53ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
footer p {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
}
@media (min-width: 600px) {
  footer p {
    font-size: 18px;
  }
}
@media (min-width: 800px) {
  footer p {
    font-size: 22px;
  }
}

#fixed-wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
#fixed-wpp img {
  transform: scale(1);
  animation: pulse 2s infinite;
  border-radius: 100%;
  cursor: pointer;
  width: 65px;
  height: 65px;
}
@media (min-width: 600px) {
  #fixed-wpp img {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 800px) {
  #fixed-wpp img {
    width: 90px;
    height: 90px;
  }
}/*# sourceMappingURL=styles.css.map */