* {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;

  background-color: #fbfbfb;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  max-width: 1200px;
  height: 70px;

  margin: 0 auto;

  padding: 5px 16px;

  position: relative;

  figure {
    z-index: 3;

    img {
      width: auto;
      height: auto;
      max-width: 60px;
      width: 40px;

      object-fit: scale-down;
    }
  }

  button {
    width: 40px;
    max-width: 40px;
    height: 70px;

    z-index: 3;

    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:active {
      outline: none;
      border: none;
    }

    @media (min-width: 600px) {
      display: none;
    }
  }

  #nav-icon {
    width: 30px;
    height: 45px;

    position: relative;

    transform: rotate(0deg);
    transition: 0.5s ease-in-out;

    cursor: pointer;
  }

  #nav-icon span {
    display: block;

    position: absolute;
    left: 0;

    height: 4px;
    width: 100%;

    background: #484848;

    border-radius: 9px;

    opacity: 1;

    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  #nav-icon span:nth-child(1) {
    top: 10px;
  }

  #nav-icon span:nth-child(2) {
    top: 20px;
  }

  #nav-icon span:nth-child(3) {
    top: 30px;
  }

  #nav-icon.nav-icon-open span:nth-child(1) {
    top: 20px;
    transform: rotate(135deg);

    background-color: #fbfbfb;
  }

  #nav-icon.nav-icon-open span:nth-child(2) {
    opacity: 0;
    left: -60px;

    background-color: #fbfbfb;
  }

  #nav-icon.nav-icon-open span:nth-child(3) {
    top: 20px;
    transform: rotate(-135deg);
    background-color: #fbfbfb;
  }
}

#header-menu-mobile {
  position: absolute;
  top: 0;

  z-index: 2;

  background-color: #8c52ff;

  border-radius: 0 0 10px 10px;

  width: 100%;
  height: 0px;

  overflow: hidden;

  transition: height 0.25s ease-in-out;

  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  text-align: center;

  ul {
    padding-top: 60px;

    li {
      margin-top: 10px;

      &:first-child {
        margin: 0;
      }
    }
  }
}

#header-menu-mobile.header-menu-open {
  height: 220px;
}

#header-menu-desktop {
  position: absolute;
  top: 22px;
  right: 16px;

  ul {
    list-style: none;
    display: flex;

    li {
      margin-left: 15px;
      font-size: 20px;

      a {
        cursor: pointer;
        text-decoration: none;

        position: relative;
        transition: color 0.3s ease-in-out;

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          width: 100%;
          height: 3px;
          background-color: #8c52ff;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
          border-radius: 5px;
        }

        &:hover::before {
          transform: scaleX(1);
        }
      }
    }
  }

  @media (max-width: 600px) {
    display: none;
  }
}

main {
  width: 100%;
  max-width: 1200px;
  height: auto;

  margin: 0 auto;
}

#principal-info-container {
  margin-top: 35px;

  display: grid;
  grid-template-columns: 0.5fr 2fr;

  position: relative;

  img {
    position: absolute;
    border-radius: 100%;
  }
}

.principal-dog {
  left: -60px;
  width: 50%;
}

.cat {
  left: 50px;
  top: -30px;

  width: 25%;
}

.hat-dog {
  top: 140px;
  left: 20px;

  width: 22%;
}
